.footer {
  grid-area: footer;
  @include bp(large) {
    display: grid;
    align-items: center;
    grid-template-columns: 20vw 80vw;
    margin-top: 20vh;
  }
}
.footer__left {
  padding: 2rem;
  color: $color-alt;
  @include bp(large) {
    padding: 0;
    margin-left: 30%;
  }
}
.footer__right {
  color: #fff;
  background: #000;
  padding: 5vw;
  @include bp(large) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
  }
}
.footer__right a {
  color: #fff;
  &:hover {
    color: $color-textlink;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  @include bp(large) {
    margin: 0;
  }
}
