/* ===== ScrollMagic Class ==============================================
   Author: Petr Tichy - ihatetomatoes.net
   ========================================================================== */

// body {
//   font: 16px/1.5 'Raleway', Helvetica, Helvetica Neue, Arial, sans-serif;
//   background-color: #fff6ed;
//   color: #222222;
// }

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  z-index: 2;
}

/* =General */
h1 {
  font-size: 25px;
  line-height: 35px;
  margin-top: 0;
}
.intro {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
  margin: 0 auto;
}
.intro-img img {
  max-width: 90%;
}
.section-static {
  padding: 40px 0;
  background-color: #fff;
}
.bcg-blue {
  background-color: #e8f4ff;
}
.bcg-green {
  background-color: #d0fdef;
}

/* =Header */
header {
  padding: 40px 0;
  text-align: center;
}

/* =Footer */
footer {
  text-align: center;
  font-size: 14px;
  background-color: #e6e9ed;
}
footer a {
  text-decoration: none;
  color: #222222;
}
footer a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* =General */

  /* =Header */

  /* =Footer */
}

@media only screen and (min-width: 768px) {
  /* =General */
  h1 {
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
  }
  .intro {
    font-size: 24px;
    line-height: 34px;
    opacity: 0.8;
    max-width: 40%;
    margin: 0 auto 40px auto;
  }
  .intro-img {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .intro-img img {
    max-width: 70%;
  }
  .section-static {
    padding: 100px 0;
    text-align: center;
  }
  .bcg-white {
    background: #fff;
    height: 60vh;
  }

  #reveal-effect {
    text-align: center;
  }
  .subtitle {
    font-size: 1.5em;
    max-width: 400px;
    margin: 0 auto;
  }
  .parts {
    list-style: none;
    margin: 100px 0 0 0;
    padding: 0;
  }
  .parts li {
    margin-bottom: 60px;
    overflow: hidden;
    background: url('../assets/images/img_pen.png') no-repeat 50% 0;
    background-size: 90px auto;
  }
  .parts h2 {
    width: 40%;
    margin: 0;
    float: left;
    text-align: right;
    vertical-align: top;
    /*background-color: pink;*/
  }
  .parts p {
    font-size: 18px;
    width: 25%;
    margin: 0 0 0 20%;
    float: left;
    text-align: left;
    /*background-color: yellow;*/
  }
  .parts li.part1 {
    background-position: 50% 6px;
    min-height: 110px;
  }
  .parts li.part2 {
    background-position: 50% -221px;
    min-height: 370px;
  }

  /* this is the pen body */
  .parts li.part3 {
    background: url('../assets/images/img_pen-body.png') no-repeat 50% 0;
    background-size: 90px auto;
    min-height: 580px;
  }
  .parts li.part4 {
    background-position: 50% -618px;
    min-height: 430px;
  }
  .parts li.part5 {
    background-position: 50% -1154px;
    min-height: 150px;
  }
  .parts li.part6 {
    background-position: 50% -1437px;
    min-height: 150px;
  }

  /* =Header */
  header {
    padding: 100px 0;
  }

  /* =Footer */
}

@media only screen and (min-width: 1140px) {
  /* =General */

  /* =Header */

  /* =Footer */
}
