/* ------- *
 *   Main  *
 * ------- */

* {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
body {
  font-family: Futura, 'futura-pt', sans-serif;
  min-height: 100vh;
  color: #57585c;
  color: $color-text;
  background-color: #fff;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    'title'
    'menu'
    'content-main'
    'content-photography'
    'footer';
  @include bp(large) {
    grid-template-columns: 10vw 60vw 30vw;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'title title menu'
      '... content content'
      '... footer footer';
  }
}

// main {
//
//
//   grid-template-rows: auto auto auto auto auto;
//   grid-template-areas:
//     'title'
//     'menu'
//     'content-main'
//     'content-photography'
//     'footer';
// }
.title {
  position: relative;
  padding: 2rem 0 0 2rem;
  margin: 0;
  font-size: 1.15rem;
  z-index: 1000;
  grid-area: title;
}

.menu {
  position: relative;
  text-transform: lowercase;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1000;
  max-width: 23rem;
  grid-area: menu;
}
.content--main {
  grid-area: content-main;
}
.content--photography {
  grid-area: content-photography;
}
